body {
    width: 100%;
    padding: 0;
    margin: 0;

}
.menuBarBtn{
    display: flex;
    width: 12vw;
    height: 12vw;
    align-items: center;
    background: none;
    border: none;
    justify-content: center;
    margin-right: 6vw;
}
.homeBtns{
    margin-top: 10vw;
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    padding-top: 4vw;
    font-family:Arial, Helvetica, sans-serif;
    padding-bottom: 4vw;
    background: #E0D3FE;
    border-radius: 5vw;
    border: none;
    color: #602EAB;
    font-size: 4vw;
}

/*newQuizStyles*/
.allInputsStyle{
    height: 10vw;
    width: 74%;
    margin-left: 3vw;
    outline: none;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4.5vw;
    border-bottom: 0.1vw solid #602EAB;
}
form{
    padding: 4vw;
    border: 0.1vw solid #602EAB;
    border-radius: 3vw;
    margin: 3vw;
}
#newAnswerLine{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vw;
}
.baseInputs{
    background-color: #e0d3fe52;
    border-bottom: 0.1vw solid #602EAB;
    border-radius: 2vw;
    font-size: 4vw;
    margin-left: 0vw;
    padding-left: 3vw;
    padding-right: 3vw;
}
.qstN{
    width: 95%;
    margin-bottom: 3vw;
    border-radius: 5;
    background-color: #fff;
}
.allInputsStyle::placeholder{
    color: #c4c4c4;
}
.nqName{
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0vw;
}
.nqRadio{
    margin-left: 4vw;
}
.qstBtns{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 10vw;
    font-family:Arial, Helvetica, sans-serif;
    background: #E0D3FE;
    border-radius: 2vw;
    border: none;
    color: #602EAB;
    font-size: 4vw;
}
#deleteAnswer{
    background: none;
    height: 3em;
    margin-right: -3.5vw;
    border: none;
    aspect-ratio: 1/1;
}
#deleteAnswer svg{
    position: relative;
    height: 100%;
    width: 100%;
}